body {
  background-color: burlywood;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: moon;
  animation-delay: 3s;
  position: relative;
  justify-content: center;
  animation-iteration-count: infinite;
}

@keyframes moon {
  0%   
  { top: 0; 
    left: 150px;
 }
  25%
    { top: 150px; 
    left: 300px;
     }
  50% 
   { top: 300px;
     left: 150px; 
    }
  75%  {
     top: 150px; 
     left: 0; 
    }
  100% { 
    top: 0; 
    left: 150px; }
}

.vijay1{ 
    animation-delay: 0s; }
.vijay2{
     animation-delay: 2s; }
.vijay3{ 
    animation-delay: 4s; }
.vijay4{ 
    animation-delay: 6s; }
